html{
  font-size:  62.5%;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin:0;
}

button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  background: tan;
  border-radius: 5px;
}

.galleryImg {
  width: 20%;
  height: auto;
}

/* home page styles */
header {
  width: 100%;
  height: 55vh;
  background: url(../assets/header.jpg);
  background-size: cover;
  background-position-y: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 8rem;
  color: #617e7c;
  text-align: center;
}

nav {
  width: 100%;
  background:white;
  box-shadow: 0 0 4px black;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}

.feature {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.feature img {
  width: 50%;
  margin:0;
}