h2 {
	font-size: 3rem;
	color: $accent2;
	text-align: center;
	margin: 0 auto 20px;
	width: 100%;
	display: inline-block;
	background: $background;
	padding: 20px 0;
}

.homePageRecipes {
	@include flex(row, space-between);
	flex-wrap: wrap;

	.feature {
		a {
			@include flex(row, space-between, stretch, nowrap);
			width: 100%;
			margin: 10px;
		}
		img,
		.featureBlurb {
			width: calc(50% - 10px);
		}
		h3 {
			font-size: 4rem;
		}
	}

	.support {
		width: calc(25% - 20px);
		margin: 10px;

		img {
			width: 100%;
		}
	}
}

footer {
	// margin-top:15vh;
	ul {
		@include flex(row, center, flex-start, wrap);
	}
	width: 100%;
	background: $accent1;
}
