nav {
	width: 100%;
	background: white;
	box-shadow: 0 0 4px black;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	.wrapper {
		@include flex(row, space-between, center);
	}
}
.searchForm {
	@include flex(row, center, stretch);
	.searchField {
		border-radius: 10px 0 0 10px;
		border: 2px solid $background;
	}
	.searchButton {
		margin: 0;
		border-radius: 0 10px 10px 0;
	}

	.left {
		justify-self: flex-start;
	}

	.right {
		justify-self: flex-end;
	}
}
.filterNavButton {
	position: relative;
}
.filterNav {
	position: absolute;
	top: calc(100% + 5px);
	left:0;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	background: $accent1;
	.filter {
		font-size: 2rem;
		margin:5px;
	}
	.subFilters {
		@include flex(row, center, center, wrap);
		max-height: 100%;
		background:lighten($accent1, 10);
		position: absolute;
		left:100%;
		top:0;
		font-size: 1.2rem;
	}

	.hidden {
		display: none;
	}
	.navFilterShow {
		display: block;
	}
}
