body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 28px;
  padding: 10px;
  margin: 10px;
  border: none;
  background: tan;
  border-radius: 5px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryImg {
  width: 50%;
  height: auto;
}